*{
  margin: 0;
  
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./img/commscope_hospitalar.jpg')no-repeat;
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
  width: 400px;
  height: 600px;
  border-radius: 5px  70px 5px 70px;
  box-shadow: 0 0 70px #ffffff;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  font: bold 1.2rem serif;
  font-style: italic;
  color: #f1f2f6;
  margin-top: 0px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

button{
  width: 200px;
  height: 50px;
  color: rgb(6, 103, 160);
  background-image: linear-gradient( 135deg, #acd3ff 10%, #00EAFF 100%);
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
button:active{
  background-image: linear-gradient( 135deg, #7df4ff 10%, #acd3ff 100%);
  color: rgb(22, 108, 158);
}

.input{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 50px;
  border-radius: 10px;
}

.input input{
  width: 300px;
  height: 50px;
  border-radius: 5px 20px 5px  20px;
  border: none;
  text-align: center;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.result{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
  color: white;
  
  background-image: linear-gradient( 135deg, #acd3ff4f 10%, #00eaff98 100%);
  border-radius: 5px 30px 5px  30px;
  font: italic 1.5rem serif;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(111, 125, 138, 0.74);
  
}

.sociais img{
  background-color: rgba(255, 255, 240, 0);
  width: 20px;
  height: 20px;
  border-radius: 30%;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}
p{
  margin-top: -20px;
  height: 10px;
}
  

  

@media only screen and (max-width: 500px) {
  

  .container{
   
    width: 280px;
    height: 500px;
    border-radius: 5px  50px 5px 50px;
  }
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    font: bold 1rem serif;
    margin-top: 0px;
    border-radius: 20px;

    
  }
  
  button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.2rem;

  }

  
  .input{

    width: 250px;
    height: 50px;
    border-radius: 10px;
  }
  
  .input input{
    width: 200px;
    height: 40px;
    border-radius: 10px ;
    font-size: 1rem;
    
  }
  
  .result{
    font: italic 1rem serif;
    width: 200px;
    height: 160px;
    padding: 20px;
    
  }
}